
<div id="engine_participants">
    <%= render :partial => "participants" %>
</div>

<div id="engine_feed">
    <a href="/activity">engine activity Atom feed</a>
</div>

<div class="explanation">
(this page will be completed later)
</div>
