
/*
 * application.css
 */

:link, :visited, :hover, :active
{
    color: #0868AC;
    text-decoration: none;
}
a:active, a:hover
{
    color: #ffffff;
    background-color: #0083CA;
}

body
{
    font-size: 14px;
    padding: 14px 35px; /* top/bottom right/left */
}
body, input, td
{
    background-color: #ffffff;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

table
{
    border-spacing: 0;
}
th
{
    text-align: left;
    font-size: 12px;
    color: #0083CA;
    border: 2px none;
    padding-top: 4px;
}
td
{
    vertical-align: top;
    background: transparent;
}

img
{
    border: none;
}

h3
{
    font-size: 12px;
    color: #0083CA;
    border: 2px none;
    padding-top: 4px;
}

#openwfe_logo 
{
    position: relative;
    float: left;
}

#content
{
}

#breadcrumbs
{
    clear: both;
    font-size: 11px;
    padding: 2px 7px 2px 7px;
    border-top: 1px solid #999;
}

#postbreadcrumbs
{
    clear: both;
    padding-bottom: 10px;
}

#flash
{
    font-weight: bold;
    color: red;
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom: 10px;
}

#corebox
{
}

#footer
{
    text-align: right;
    font-size: 10px;
    margin-top: 42px;
    padding: 2px 5px 2px 5px;
    border-top: 1px solid #aeaeae;
    color: #adadad;
}

.densha_button
{
    font-size: 10px;
}

.row_over
{
    background-color: #eeeeee;
}

.stealth_click
{
    font-weight: normal;
    color: #cacaca;
    cursor: pointer;
}

.inactive_button
{
    color: #dedede;
}

#xml_process_definition
{
    width: 100%;
    height: 550px;
}
pre.rb_process_definition
{
    line-height: 6px;
    border: 1px solid #eeeeee;
    padding: 4px;
    overflow: auto;
}

.definitions_url
{
    float: left;
    width: 70%;
    padding-top: 7px;
    padding-bottom: 15px;
    font-size: 11px;
}
.definitions_buttons
{
    float: right;
    text-align: right;
    width: 30%;
    padding-top: 7px;
    padding-bottom: 15px;
    font-size: 10px;
}

.explanation
{
    margin-top: 28px;
    font-size: 10px;
    font-style: italic;
}

