
/*
 * processes.css
 */

th
{
    font-size: 10px;
}
td
{
    font-size: 10px;
}
.processes_count
{
    color: black;
    font-weight: normal;
    text-align: right;
    padding-right: 4px;
}
.processes_status
{
    width: 100%;
    border: 0px;
}
.processes_small
{
    font-size: 10px;
}
.processes_errors
{
    font-size: 10px;
    margin-left: 28px;
}
.processes_error
{
    border: 1px solid #eeeeee;
    padding: 3px;
    width: 100%;
}
.processes_error_replay
{
    float: right;
}
.processes_ps_buttons
{
    font-size: 10px;
    text-align: right;
    vertical-align: bottom;
}
.processes_checkbox
{
    width: 12px;
    height: 10px;
}
.processes_batch_buttons
{
    font-size: 10px;
    text-align: right;
}
