/*
 * workitem.css
 */

.workitem_payload
{
    width: 50%;
    float: left;
    padding-top: 10px;
}
.workitem_pdrendering
{
    width: 49%;
    float: right;
    padding-top: 10px;
}

.workitem_buttons
{
    text-align: center;
    font-size: 11px;
}

#workitem
{
    width: 100%;
}
#workitem_fluo
{
}
