
<%= javascript_include_tag "fluo-min" %>

<%= render_fluo %>

<script>

    Fluo.tagExpressionsWithWorkitems(
        'fluo', [ '<%= @workitem.full_fei.expression_id %>' ]);
            //
            // surround with a border the current position in the
            // [graphical rendition of the] process definition
</script>

