

<!--
    WORKITEM PAYLOAD
-->

<div class="workitem_payload">
    <%= render :partial => find_partial('__payload_partial', 'payload') %>
</div>



<!--
    PROCESS DEFINITION RENDERING
-->

<div class="workitem_pdrendering">
    <%= render :partial => find_partial('__definition_partial', 'fluo') %>
</div>

<div style="clear: both;"></div>

