
<%= render :partial => find_partial("__workitem_partial", "workitem") %>

<div class="explanation">
View or edition of a workitem.<br/>
Workitems contain attributes (fields) organized in a dictionary (hash) structure. The implementation here is rather awkward for an electronic form, but it's possible to use custom forms, other than this 'demo' payload handling capacity (see documentation).
</div>
